@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
  background-color: #05053c;
  background-image: linear-gradient(
    0deg,
    #05053c 0%,
    rgba(255, 255, 255, 1) 72%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
